.red{
    background-color: crimson;
}

.blue{
    background-color: dodgerblue;
}

.green{
    background-color: lawngreen;
}

.yellow{
    background-color: papayawhip;
}

.pink{
    background-color: deeppink;
}

.purple{
    background-color: thistle;
}

.orange{
    background-color: coral;
}